---
layout: default
---

<body>
  <div>
    <!--        <div class="ptitlesub">-->
    <!--            -->
    <!--        </div>-->
    <div id="topTitle">
      <div class="titlecontainer">
        <p class="Titolone titlecentered"> {{ page.LTitolone }}</p>
      </div>
      <div class="devsite-header-billboard-search">
        <a class="card accent1 clickable groupRedirectButton" href="http://polinet.cc/gruppi">
          {{ page.LGroupSearchButton }}
        </a>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="card white section sign">
      {% include logoBanner.html %}
    </div>
    {% if page.LgroupsWarning %}
    <div class="alert alert-primary card section">
      {% if page.LgroupsWarningTitle %}
      <h2 class="pcenter">
        {{ page.LgroupsWarningTitle }}
      </h2>
      {% endif %}
      <p class="pcenter">
        {{ page.LgroupsWarning }}
        {% if page.LgroupsWarningClick %}
        <a href="https://linktr.ee/polinetwork">{{ page.LgroupsWarningClick }}</a>
        {% endif %}
      </p>
    </div>
    {% endif %}

    <div class="card white section">
      <div class="cardTitleAndDescription">
        <h2>{{ page.LgroupsTitle }}</h2>
        <p>{{ page.LgroupsText }}</p>
		<p>{{ page.addGroup }} <a href="learnmore/contacts">{{ page.contact }}</a></p>
      </div>
      <div class="horizontalSocial">
        <div class="card white clickable"
          onclick="location.href='https://www.facebook.com/groups/matricole20172018polimi/'">
          <div class="image-container big"><img src="../img/facebook.webp"></div>
          <p class="pcenter">{{ page.LFacebookTitle }}</p>
        </div>
        <div class="card white clickable" onclick="location.href='https://t.me/PoliGruppo'">
          <div class="image-container big"><img src="../img/telegram.webp"></div>
          <p class="pcenter">{{ page.LTelegramTitle }}</p>
        </div>
      </div>
      <div class="columnTwo">
        <a class="card accent1 clickable courses groupRedirectButton" href="http://polinet.cc/gruppi">
          <p class="pcenter">{{ page.LAllCoursesTitle }}</p>
        </a>
        <div class="card accent1 clickable groups" onclick="location.href='./extra/'">
          <p class="pcenter">{{ page.LExtraTitle }}</p>
        </div>
        <div class="card accent clickable rules" onclick="location.href='./rules/'">
          <p class="pcenter">{{ page.LRules }}</p>
        </div>
        <div class="card accent clickable rules"
          onclick="location.href='./materials/'">
          <p class="pcenter">{{ page.LMaterials }}</p>
        </div>
      </div>
      <div class="spaced">
        <br />
      </div>
    </div>
    <div class="horizontal section">
      <div class="card white horizontalcardswrapper guides">
        <div class="titleanddeskCard">
          <div class="cardTitleAndDescription">
            <h2>{{ page.LGuidesTitle }}</h2>
            <p>{{ page.LGuidesText }}</p>
          </div>
        </div>
        <div class="expandable">
          <div class="card accent1 clickable horizontalcardsbutton homepageLowerButton" onclick="location.href='./guides/'">
            <p class="cardLink">{{ page.LGuidesButton }}</p>
          </div>
        </div>
      </div>
      <div class="card white horizontalcardswrapper projects">
        <div class="titleanddeskCard">
          <div class="cardTitleAndDescription">
            <h2>{{ page.LProjectsTitle }}</h2>
            <p>{{ page.LProjectsText }}</p>
          </div>
        </div>
        <div class="expandable">
          <div class="card accent1 clickable horizontalcardsbutton homepageLowerButton" onclick="location.href='./projects/'">
            <p class="cardLink">{{ page.LProjectsButton }}</p>
          </div>
        </div>
      </div>
      <div class="card white horizontalcardswrapper info">
        <div class="titleanddeskCard">
          <div class="cardTitleAndDescription">
            <h2>{{ page.LInfoTitle }}</h2>
            <p>{{ page.LInfoText }}</p>
          </div>
        </div>
        <div class="expandable">
          <div class="card accent1 clickable horizontalcardsbutton homepageLowerButton" onclick="location.href='./learnmore/'">
            <p class="cardLink">{{ page.LInfoButton }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
